.image-box{
    margin-top: 40px;
    border-radius: 20px;
    margin-left: 20px;
}
.img-at{
    border-radius: 50px;
}
.content{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:40px;
}
.about{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}